#set($postsdata = [])
#foreach($item in ${ctx.args.posts})
    $util.qr($postsdata.add($util.dynamodb.toMapValues($item)))
#end


{
    "operation" : "BatchPutItem",
    "tables" : {
        "posts": $utils.toJson($postsdata)
    }
}
